// richiamo il file variables
@use './variables.scss' as *;

// creo una mixin generale per centrare gli elementi in flex
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//  creo una mixin per distanziare gli elementi con between
@mixin between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// creo una mixin per distanziare gli oggetti messi in colonna con between
@mixin column() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// centralizzate le proprietà dei bottoni
@mixin button() {
    color: $thirdColor;
    background-color: $primaryColor;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}